#add for board init.rc for recovery mode
import /init.recovery.common.rc

on init
    start runatboot

on boot
    start health-hal-2-1

on post-fs
    start boot-hal-1-1

service runatboot /system/bin/runatboot.sh
    oneshot
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
